<p>Formulaire d'ajout de films</p>
<form
        [formGroup]="filmForm"
        (ngSubmit)="submitFilm()" >
    <p> Titre
      <input
            type="text"
            formControlName="titre" >
    </p>
    <p> Synopsis
      <textarea formControlName = "synopsis" ></textarea>
    </p>
    <p> Note
      <input
            type="text"
            formControlName="note" > / 10
    </p>


    <button [disabled]="!filmForm.valid" (click)="addNewFilm()" type="submit">ajouter
    </button>  <!-- disabled : le bouton n'est pas cliquable tant que les champs ne sont pas remplis -->

</form>
